<form class="form-horizontal">
    <div class="form-group">
        <label class="form-label col-sm-2">Email</label>
        <div class="col-sm-10">
            <input type="text" placeholder="Email ..." class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="form-label col-sm-2">Password</label>
        <div class="col-sm-4">
            <input type="text" placeholder="Password ..." class="form-control" id="example-getting-started-input" />
        </div>
        <div class="col-sm-6" id="example-getting-started-text" style="font-weight:bold;padding:6px 12px;">
 
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</form>