@charset "utf-8";

/*Colores*/
/*General #333333*/
/*Verde #285A35*/
/*Dorado #907A4A*/
/*Azul claro #b3d4fc*/

* {
	outline: none;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: auto;
}
body {
	font-family: Calibri;
	font-size: 1em;
	color: #777;
}
a {
	/*color: #285A35;*/
	color: #907A4A;
}
#header {
	background-color: #006633;
	padding: 0.5em 1em;
	box-sizing: border-box;
	height: 4em;
	overflow: hidden;
}
#header #logo {
	height: 100%;
	width: auto;
	float: left;
}
#header #profile {
	float: right;
	height: 100%;
	color: #FFF;
	cursor: pointer;
}
#header #profile #menuProfile {
	display: none;
	top: 3em;
	right: 1em;
	position: absolute;
	z-index: 10;
}
#header #profile #menuProfile .triangle {
	border-bottom: 0.5em solid #FFF;
	border-left: 0.5em solid transparent; 
	border-right: 0.5em solid transparent; 
	width: 0;
	height: 0;
	float: right;
	margin-right: 0.5em;
}
#header #profile #menuProfile ul {
	float: right;
	clear: right;
	background-color: #FFF;
	color: #777;
	padding: 0;
	margin: 0;
	border-bottom: thin solid #DDD;
	border-left: thin solid #DDD;
	border-right: thin solid #DDD;
	box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.2);
}
#header #profile #menuProfile ul li {
	list-style: none;
	padding: 0 0.7em 0 1.8em;
	line-height: 1.7em;
	background-position: 0.5em center;
	background-repeat: no-repeat;
}
#header #profile #menuProfile ul li:first-child {
	margin-top: 0.5em;
}
#header #profile #menuProfile ul li:last-child {
	margin-bottom: 0.5em;
}
#header #profile #photoProfile {
	margin: 0 1em;
	float: left;
	height: 3em;
	width: 3em;
	background-color: #EEE;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
}
#header #profile #nameProfile {
	display: table;
	float: left;
	height: 100%;
}
#header #profile #nameProfile div {
	display: table-cell;
	vertical-align: middle;
}
#main {
	display: table;
	border-collapse: collapse;
	width: 100%;
	/*height: 100%;*/
}
#main .rowMain {
	display: table-row;
	/*overflow: hidden;*/
}
#main .rowMain #aside {
	display: table-cell;
	/*float: left;*/
	height: 100%;
	border-right: thin solid #CCC;
	background-color: #F8F8F8;
}
#main .rowMain #aside .menu {
	width: 12em;
	padding: 0;
	margin: 0;
}
#main .rowMain #aside .menu > li {
	padding: 0.7em 2.5em;
	box-sizing: border-box;
	border-bottom: thin solid #DDD;
	background-color: #F8F8F8;
	border-left: 3px solid #F8F8F8;
	cursor: pointer;
	background-image: url(../image/home.png);
	background-repeat: no-repeat;
	background-position: 0.7em center;
}
#main .rowMain #aside .menu > li.arrow {
	background-image: url(../image/arrow.png);
	background-repeat: no-repeat;
	background-position: 10.5em center;
}
#main .rowMain #aside .menu > li:hover {
	background-color: #FFF;
	border-left: 3px solid #629CC9;
}
#main .rowMain #aside .submenu {
	height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	/*border-bottom: thin solid #DDD;*/
}
#main .rowMain #aside .submenu li {
	padding: 0.6em 2em;
	box-sizing: border-box;
	background-color: #FFF;
	cursor: pointer;
	background-image: url(../image/tree.png);
	background-repeat: no-repeat;
	background-position: 1em center;
}
#main .rowMain #container {
	display: table-cell;
	width: 100%;
}
#main .rowMain #container #barTop {
	width: 100%;
	padding: 0.7em 1em;
	box-sizing: border-box;
	border-bottom: thin solid #DDD;
	background-color: #F8F8F8;
}
#main .rowMain #container #barTop #path {
	padding: 0 1.5em;
	box-sizing: border-box;
	background-image: url(../image/home.png);
	background-repeat: no-repeat;
	background-position: left center;
}
#main .rowMain #container #content {
	height: 100%;
	padding: 2em;
	box-sizing: border-box;
}
#main .rowMain #container #content #streaming {
	background-color: #F8F8F8;
	padding: 1em 0;
	box-sizing: border-box;
	border: thin solid #DDD;
}
#main .rowMain #container #content #streaming #video {
	display: block;
	margin: 2em auto;
	width: 40em;
	height: auto;
	border: thin solid #DDD;
}
#main .rowMain #container #content #mensajes {
	width: 40em;
	overflow: hidden;
	margin: 0 auto;
}
label, input[type=text], textarea {
	float: left;
	clear: left;
	font-family: Calibri;
	font-size: 1em;
}
input[type=text], input[type=password], input[type=file], textarea {
	margin: 1em 0;
	border: thin solid #DDD;
	padding: 0.5em;
	box-sizing: border-box;
	resize: vertical;
	width: 100%;
	color: #777;
}
textarea {
	height: 10em;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: thin solid #629CC9;
	background-color: #f1f7f9;
}
input[type=button], input[type=submit] {
	background-color: #006633;
	border: none;
	color: #FFF;
	padding: 1em 1.3em;
	float: right;
	cursor: pointer;
	border-radius: 0.3em;
}
input[type=button]:hover, input[type=submit]:hover {
	background-color: #629b58;
}
::file-upload-button {
	background-color: #006633;
	border: none;
	color: #FFF;
	padding: 1em 1.3em;
	/*float: right;*/
	cursor: pointer;
	border-radius: 0.3em;
}
::-webkit-file-upload-button {
	background-color: #006633;
	border: none;
	color: #FFF;
	padding: 1em 1.3em;
	/*float: right;*/
	cursor: pointer;
	border-radius: 0.3em;
}
::-moz-file-upload-button {
	background-color: #006633;
	border: none;
	color: #FFF;
	padding: 1em 1.3em;
	/*float: right;*/
	cursor: pointer;
	border-radius: 0.3em;
}
::-o-file-upload-button {
	background-color: #006633;
	border: none;
	color: #FFF;
	padding: 1em 1.3em;
	/*float: right;*/
	cursor: pointer;
	border-radius: 0.3em;
}
::-ms-file-upload-button {
	background-color: #006633;
	border: none;
	color: #FFF;
	padding: 1em 1.3em;
	/*float: right;*/
	cursor: pointer;
	border-radius: 0.3em;
}
::file-upload-button:hover {
	background-color: #629b58;
}
::-webkit-file-upload-button:hover {
	background-color: #629b58;
}
::-moz-file-upload-button:hover {
	background-color: #629b58;
}
::-o-file-upload-button:hover {
	background-color: #629b58;
}
::-ms-file-upload-button:hover {
	background-color: #629b58;
}
#main .rowMain #container #content #mensajes .mensaje {
	float: left;
	clear: left;
	width: 100%;
	padding: 1em 0;
	box-sizing: border-box;
	border-top: thin solid #DDD;
}
#main .rowMain #container #content #mensajes #formulario {
	overflow: hidden;
	margin: 2em 0;
}
#main .rowMain #container #content #mensajes .mensaje .photoUser {
	width: 3em;
	height: 3em;
	margin-right: 0.5em;
	border-radius: 50%;
	background-color: #EEE;
	background-repeat: no-repeat;
	background-position: center;
	border: thin solid #DDD;
	background-size: 100%;
	float: left;
}
#main .rowMain #container #content #mensajes .mensaje .user {
	float: left;
	overflow: hidden;
}
#main .rowMain #container #content #mensajes .mensaje .user h4 {
	margin: 0;
	font-size: 1.3rem;
	float: left;
	color: #285A35;
}
#main .rowMain #container #content #mensajes .mensaje .user h5 {
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
	float: left;
	clear: left;
}
#main .rowMain #container #content #mensajes .iconH2 {
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: 1em;*/
	/*background-color: #907A4A;*/
	/*background-color: #285A35;*/
	background-color: #EEE;
	margin-right: 0.5em;
	float: left;
	width: 1.7em;
	height: 1.7em;
	border: thin solid #DDD;
	border-radius: 50%;
}
#main .rowMain #container #content #mensajes .mensaje p {
	float: left;
	clear: left;
}
#main .rowMain #footer {
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
	/*font-size: 1.3em;*/
	border-top: thin solid #DDD;
	text-align: center;
	float: left;
	clear: left;
	margin-top: 1em;
	padding: 1em 0;
	box-sizing: border-box;
}
h1 {
	color: #006633;
	margin: 0;
	padding-left: 1em;
	background: url(../image/mourning.png) no-repeat left center;
	background-size: auto 100%; 
}
h2 {
	margin-top: 0;
	color: #285A35;
}
h2.colorGris {
	color: #777;
}
body.sky {
	background: #FFF url(../image/background-gayosso.jpg) no-repeat center top;
	/*background: #FFF url(../image/bk.jpg) no-repeat center top;*/
	background-size: 100% auto;
}
#loginContainer {
	display: table;
	width: 100%;
	height: 100%;
}
#loginContainer #loginContent {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
#loginContainer #loginContent #loginBox {
	width: 20em;
	height: auto;
	padding: 2em;
	box-sizing: border-box;
	background-color: #F8F8F8;
	margin: 0 auto;
	border: thin solid #DDD;
	box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.2);
	overflow: hidden;
}
#loginContainer #loginContent #loginBox img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}
#loginContainer #loginContent #loginBox input[type=submit] {
	margin-top: 1em;
	float: right;
}
#loginContainer #loginContent #loginBox input[type=password] {
	background: url(../image/loginPassword.png) no-repeat 0.5em center;
	padding: 0.7em;
	padding-left: 2em;
}
#loginContainer #loginContent #loginBox input[type=text] {
	background: url(../image/loginUser.png) no-repeat 0.5em center;
	padding-left: 2em;
}
#loginContainer #loginContent #loginBox input[type=text]:focus {
	border: thin solid #629CC9;
	background-color: #f1f7f9;
}
#loginContainer #loginContent #loginBox input[type=password]:focus {
	border: thin solid #629CC9;
	background-color: #f1f7f9;
}
.passwordRecovery {
	display: block;
	margin: 0.5em 0;
}