@charset "utf-8";

/*Colores*/
/*General #333333*/
/*Verde #285A35*/
/*Dorado #907A4A*/
/*Azul claro #b3d4fc*/

* {
	outline: none;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
}
body {
	background: url(../../image/background-gayosso.jpg) no-repeat center top;
	background-size: contain;
	color: #AAA;
	font-family: 'Slabo 27px', serif;
	font-weight: lighter;
}
#header {
	padding: 1em;
	box-sizing: border-box;
}
#book {
	width: 60em;
	height: 100%;
	margin: 0 auto; 
	background-color: #FFF;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 0.5em;
}
#innerBook {
	border: thin solid #CCC;
	width: 100%;
	height: 100%;
	padding: 3em;
	box-sizing: border-box;
}
#photo {
	margin: 0 auto; 
	width: 15em;
	height: 17em;
	border: thin solid #CCC;
	background-color: #FFF;
	padding: 0.5em;
	box-sizing: border-box;
}
#photo div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
#data {
	width: 100%;
	text-align: center;
	margin: 2em 0;
}
#cite {
	width: 90%;
	text-align: center;
	margin: 1em auto;
	font-size: 1.5rem;
}
#cite p:last-child {
	text-align: right;
}
.mourning {
	height: 3em;
	float: left;
	margin-right: 1em;
}
#comments {
	width: 100%;
}
.commentBox {
	width: 100%;
	height: auto;
	border-bottom: thin solid #CCC; 
	margin: 1em 0;
	overflow: hidden;
}
.commentBox:last-child {
	border: none;
}
.commentBox img {
	display: block;
	margin: 0 auto;
}
.photoComment {
	margin-right: 1em; 
	float: left;
	width: 6em;
	height: 6em;
	border: thin solid #CCC;
	background-color: #FFF;
	padding: 0.3em;
	box-sizing: border-box;
}
.photoComment div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.comment {
	width: 100%;
	float: left;
	clear: left;
}
#moreComments {
	margin: 1em 0;
	text-align: center;
	padding-bottom: 1em;
	border-bottom: thin solid #CCC;
}
#moreComments div {
	display: inline-block;
	list-style: none;
	background-color: #285A35;
	color: #FFF;
	width: 2.4em;
	line-height: 2.4em;
	border-radius: 50%;
	cursor: pointer;
	margin: 0 0.2em;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}
h1, h2 {
	color: #999;
	font-weight: lighter;
	margin-bottom: 0;
}
h1 {
	font-family: 'Pinyon Script', cursive;
	margin-bottom: 0;
	font-size: 3rem;
}
h2 {
	margin: 0 0.5em;
	font-size: 1.5rem;
	text-align: center;
}
h2.color {
	background-color: #285A35;
	color: #FFF;
	margin: 0;
	padding: 0.3em 1.5em;
	border-radius: 1em;
}
h4 {
	font-weight: lighter;
	font-size: 1.3rem;
	margin-top: 0;
}
legend {
	text-align: center;
}
fieldset {
	border: thin solid #CCC;
	padding: 1em;
	box-sizing: border-box;
	font-size: 1.3rem;
}
input[type=text], textarea {
	width: 100%;
	padding: 0.7em;
	box-sizing:border-box;
	font-family: 'Slabo 27px', serif;
	font-size: 1.3rem;
	resize: vertical;
	border: thin solid #CCC;
	/*border-radius: 0.5em;*/
	box-shadow: inset 0em 0.2em 1em rgba(0,0,0,0.1);
}
textarea {
	height: 9em;
}
input[type=button], ::-webkit-file-upload-button {
	padding: 0.7em 1.7em;
	background-color: #285A35;
	color: #FFF;
	border-radius: 0.5em;
	border: none;
	font-family: 'Slabo 27px', serif;
	font-size: 1.3rem;
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}
input[type=file] {
	border: thin solid #CCC;
	width: 100%;
	padding: 0.7em;
	box-sizing:border-box;
	font-family: 'Slabo 27px', serif;
	font-size: 1.3rem;
}
input[type=button] {
	float: right;
}
input[type=button]:hover, ::-webkit-file-upload-button:hover, #moreComments div:hover {
	background-color: #907A4A;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}