@charset "utf-8";

.contenedor {
	width: 100%;
	height: 25em;
	background: url(../images/fondo.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
}
.contenedor .baner1 {
	width: 100%;
	height: 25em;
	background: url(../images/texto-1.png), url(../images/baner-1.png);
	background-position: left center, right bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: 600px auto, 328px auto;
}
.contenedor .baner2 {
	width: 100%;
	height: 25em;
	background: url(../images/texto-2.png), url(../images/baner-2.png);
	background-position: left center, right bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: auto 73px, 550px auto;
}
.contenedor .baner3 {
	width: 100%;
	height: 25em;
	background: url(../images/texto-2.png), url(../images/baner-3.png);
	background-position: left center, right bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: 600px auto, 600px auto;
}
/*@media screen and (max-width: 1280px) {
	.contenedor .baner2 {
		background-position: center top, right bottom;
	}
	.contenedor .baner3 {
		background-position: center top, right bottom;
	}
}*/
@media screen and (max-width: 970px) {
	.contenedor .baner2 {
		background-size: 100% auto, 550px auto;
	}
	.contenedor .baner3 {
		background-size: 100% auto, 550px auto;
	}
}
@media screen and (max-width: 960px) {
	.contenedor {
		height: 35em;
	}
	.contenedor .baner1 {
		background-position: center top, right bottom;
		background-repeat: no-repeat, no-repeat;
		width: 100%;
		height: 100%;
	}
	.contenedor .baner2 {
		background-position: center top, right bottom;
		background-repeat: no-repeat, no-repeat;
		width: 100%;
		height: 100%;
	}
	.contenedor .baner3 {
		background-position: center top, right bottom;
		background-repeat: no-repeat, no-repeat;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 640px) {
	.contenedor .baner1 {
		background: url(../images/texto-1-2.png), url(../images/logo-audi.png), url(../images/baner-1.png);
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-size: 100% auto, 220px auto, 230px auto;
		background-position: center top, center 8em, right bottom;
	}
	.contenedor .baner2 {
		background: url(../images/texto-2-2.png), url(../images/logo-audi.png), url(../images/baner-2.png);
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-size: 100% auto, 220px auto, 400px auto;
		background-position: center top, center 8em, right bottom;
	}
	.contenedor .baner3 {
		background: url(../images/texto-2-2.png), url(../images/logo-audi.png), url(../images/baner-3.png);
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-size: 100% auto, 220px auto, 390px auto;
		background-position: center top, center 8em, left bottom;
	}
}