@charset "utf-8";

* {
	outline: none;
	font-size: 1.1rem;
	font-family: Calibri;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: auto;
}
body {
	color: #777;
}
body.fondo {
	background: #DDD url(../image/fondo.jpg) no-repeat center top;
	/*background: #FFF url(../image/bk.jpg) no-repeat center top;*/
	background-size: cover;
}
#loginContainer {
	display: table;
	width: 100%;
	height: 100%;
}
#loginContainer #loginContent {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
#loginContainer #loginContent #loginBox {
	border-radius: 0.3em;
	width: 19em;
	height: auto;
	padding: 1.5em;
	box-sizing: border-box;
	background-color: #F8F8F8;
	margin: 0 auto;
	border: thin solid #DDD;
	box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.2);
	overflow: hidden;
}
#loginContainer #loginContent #loginBox #loginLogo {
	display: block;
	width: 10em;
	height: auto;
	margin: 0 auto 1em auto;
}
#loginContainer #loginContent #loginBox input[type=text], #loginContainer #loginContent #loginBox input[type=password] {
	margin: 0.9em 0;
	border: thin solid #CCC;
	padding: 0.5em 0.5em 0.5em 2em;
	box-sizing: border-box;
	resize: vertical;
	width: 100%;
	color: #777;
}
#loginContainer #loginContent #loginBox input[type=text] {
	background: url(../image/loginUser.png) no-repeat 0.5em center;
	/*background-color: #FFF;*/
}
#loginContainer #loginContent #loginBox input[type=password] {
	background: url(../image/loginPassword.png) no-repeat 0.5em center;
	/*background-color: #FFF;*/
}
#loginContainer #loginContent #loginBox input[type=text]:focus, #loginContainer #loginContent #loginBox input[type=password]:focus {
	border: thin solid #E21D38;
}
#loginContainer #loginContent #loginBox input[type=submit] {
	margin-top: 1em;
	float: right;
	background-color: #E21D38;
	border: none;
	color: #FFF;
	padding: 0.7em 1em;
	float: right;
	cursor: pointer;
	border-radius: 0.3em;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
}
#loginContainer #loginContent #loginBox input[type=button]:hover, #loginContainer #loginContent #loginBox input[type=submit]:hover {
	background-color: #FF425C;
}
a.passwordRecovery {
	color: #777;
	text-decoration: none;
	padding-left: 1.3em;
	background: url(../image/watch.png) no-repeat left center;
	background-size: 0.9em;
}
.validationMessage {
	display: none;
	opacity: 0;
	position: absolute;
	z-index: 5;
	width: 16em;
	margin: -1.3em auto;

	animation: showVoxValidation 1s forwards;
	-webkit-animation: showVoxValidation 1s forwards;
	-moz-animation: showVoxValidation 1s forwards;
	-o-animation: showVoxValidation 1s forwards;
	-ms-animation: showVoxValidation 1s forwards;
}
.validationMessage .triangle {
	width: 0;
	height: 0;
	border-left: 0.7em solid transparent;
	border-right: 0.7em solid transparent;
	border-bottom: 0.7em solid rgba(0,0,0,0.7);
	margin: 0 auto;
}
.validationMessage .innervalidationMessage {
	border-radius: 0.3em;
	width: 100%;
	padding: 0.7em;
	box-sizing: border-box;
	text-align: center;
	color: #FFF;
	background-color: rgba(0,0,0,0.7);
}
@keyframes showVoxValidation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes showVoxValidation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes showVoxValidation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes showVoxValidation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes showVoxValidation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}